/* Colors */

.transparent {
  background-color: transparent !important;
}


.white {
  background-color: white !important;
}


.blue {
  background-color: rgb(0, 132, 255) !important;
}


.gray {
  background-color: rgb(58, 57, 68) !important;
}


.blue-text {
  color: rgb(70, 166, 255) !important;
}


.gray-text {
  color: rgb(58, 57, 68) !important;
}


.gray-text-dark {
  color: rgb(50, 50, 51) !important;
}


.gray-text-mid {
  color: rgb(124, 124, 124) !important;
}


.gray-text-light {
  color: #b3b3b1 !important;
}


.black-text {
  color: #000000 !important;
}


.white-text {
  color: #FFFFFF !important;
}


/* Basic Style */

html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}


html {
  -webkit-box-sizing: border-box;
	box-sizing: border-box;
  line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
}


@media only screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}


@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}


@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}


button,
input,
optgroup,
select,
textarea {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


figure {
  margin: 0;
}


*, *:before, *:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.3;
}


h1 {
	font-size: 4.2rem;
	line-height: 110%;
	margin: 2.8rem 0 1.68rem 0;
}


h2 {
	font-size: 3.56rem;
	line-height: 110%;
	margin: 2.3733333333rem 0 1.424rem 0;
}


h3 {
	font-size: 2.92rem;
	line-height: 110%;
	margin: 1.9466666667rem 0 1.168rem 0;
}


h4 {
	font-size: 2.28rem;
	line-height: 110%;
	margin: 1.52rem 0 0.912rem 0;
}


h5 {
	font-size: 1.64rem;
	line-height: 110%;
	margin: 1.0933333333rem 0 0.656rem 0;
}


h6 {
	font-size: 1.15rem;
	line-height: 110%;
	margin: 0.7666666667rem 0 0.46rem 0;
}


em {
  font-style: italic;
}


strong {
  font-weight: 500;
}


a {
	color: #039be5;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}


i {
  line-height: inherit;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  -webkit-transition: color .3s;
  transition: color .3s ease;
}


i:hover {
  color: rgb(147, 203, 255);
}


.right {
  float: right !important;
}


.center-align {
  text-align: center;
}


.left-align {
  text-align: left;
}


.light {
  font-weight: 300;
}


blockquote {
	margin: 20px 0;
	padding-left: 1.5rem;
	border-left: 5px solid #7b6eee;
}


.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}


.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.circle {
  border-radius: 50%;
}


.btn-large, .btn-small {
  border-radius: 2px;
  display: inline-block;
  line-height: 36px;
  padding: 0 28px;
  text-transform: uppercase;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}


.btn-large {
  height: 54px;
  line-height: 54px;
  font-size: 15px;
  color: #fff;
  background-color: rgb(0, 132, 255);
}


.btn-small {
  height: 35px;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 20px;
  color: #fff;
  background-color: rgb(73, 73, 73);
}


.btn-large:hover {
  color: rgb(147, 203, 255);
  background-color: rgb(222, 238, 255);
}


.btn-small:hover {
  color: rgb(147, 203, 255);
  background-color: rgb(222, 238, 255);
}


/* 2dp elevation modified */
.card-panel, .card, .btn-large, .btn-small {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}


.btn-large:hover, .btn-small:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}


/* View Box Border */
.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}


/**
 * Card
*/

.card-wrap {
  grid-area: 2 / 2 / span 1 / span 1;
  width: 100%;
  max-width: 600px;
  margin-top: 3rem;
}


@media only screen and (min-width: 601px) {
  .card-wrap {
    grid-area: 4 / 2 / span 2 / span 2;
    width: 90%;
    margin-top: 0;
  }
}


.card {
  position: relative;
  margin: 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 10px;
}


@media only screen and (min-width: 601px) {
  .card {
    margin: 0.5rem 0 1rem 0;
  }
}


.card .card-title {
  font-size: 24px;
  font-weight: 300;
}


.card .card-image {
  position: relative;
}


.card .card-image img {
  border-radius: 3px 3px 0 0;
  width: 100%;
}


.card .card-image .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
}


.card .card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px;
}


.card .card-content p {
  margin: 0;
}


.card .card-action {
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  position: relative;
  padding: 16px 24px;
}


.card .card-action a {
  color:  rgb(0, 132, 255);
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}


.card .card-action a:hover {
  color:  rgb(154, 206, 255);
}


.border {
	padding: .5rem;
	color: white;
	border-width: 7px;
	border-style: solid;
	border-image: linear-gradient(to bottom,white,rgba(0, 0, 0, 0)) 1 100%;
}


@media only screen and (min-width: 601px) {
  .border {
		padding: 1rem;
		border-width: 5px;
  }
}


.side-border {
	padding: 0 1.5rem;
	color: rgb(0, 0, 0);
	border-width: 0;
	border-left: 5px;
	border-style: solid;
	border-image: linear-gradient(to bottom,rgb(0, 0, 0),rgba(0, 0, 0, 0)) 1 100%;
}













